table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  border: 1px solid black;
}

#container {
  margin-top: 40px;
}

#boardDiv {
  margin-left: 300px;
  width: 600px;
  float: left;
}

#boardDiv td:hover {
  background-color: #CB3D1E;
}

#wordsDiv td {
  height: 48px;
  width: 150px;
}

#wordsDiv td:hover {
  background-color: #3b4bbeb5;
}

#startButton {
  margin-left: 650px;
  margin-top: 20px;
  font-size: 40px;
  shape-outside: border-box;
  background-color: white;
}
